In [3]:
import pandas as pd
dataframe = pd.read_csv('Total.csv')
dataframe

C:\Users\USER\AppData\Local\Temp\ipykernel_10604\1168451856.py:2: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv('Total.csv')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
312877,Daniel W Plautz,Public Service Trainee,0.0,0.0,0.0,0.0,0.00,0.00,2018
312878,David J Thompson,Deputy Sheriff,0.0,0.0,0.0,0.0,0.00,0.00,2018
312879,Keiko Weng Yee Lau,Public Service Trainee,0.0,0.0,0.0,0.0,0.00,0.00,2018
312880,David Wong,Deputy Sheriff,0.0,0.0,0.0,0.0,0.00,0.00,2018
312881,Debora E Howard,Recreation Leader,0.0,0.0,0.0,0.0,0.00,0.00,2018

In [ ]:
def get_employee_details(employee_name):
    
    try:
    
        result = dataframe[dataframe['EmployeeName'].str.lower() == employee_name.lower()]
        

        if not result.empty:
            return result
        else:
            
            return pd.DataFrame({'Error': [f"No employee found with the name: {employee_name}"]})
    except Exception as e:
        
        return pd.DataFrame({'Error': [f"An error occurred: {str(e)}"]})
    
employee_name = input("Please enter the employee's name: ") # Ask for the employee's name
result = get_employee_details(employee_name)
display(result)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011

In [ ]:

try:
    dataframe = pd.read_csv('Total.csv')
except FileNotFoundError:
    print("Error: 'Total.csv' not found.")
    dataframe = pd.DataFrame()


required_columns = ['EmployeeName', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay']
if not dataframe.empty and set(required_columns).issubset(dataframe.columns):
    
    dataframe['Benefits'] = pd.to_numeric(dataframe['Benefits'], errors='coerce').fillna(0)
    dataframe[['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay']] = dataframe[['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay']].apply(pd.to_numeric, errors='coerce').fillna(0)

    
    def get_employee_salary(employee_name):
        employee_data = dataframe[dataframe['EmployeeName'] == employee_name]
        if not employee_data.empty:
            return employee_data[['EmployeeName', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay']]
        else:
            return pd.DataFrame({'Error': [f"No employee found with the name: {employee_name}"]})


    def get_all_employee_salaries():
        return dataframe[['EmployeeName', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay']]

    
    result = get_employee_salary('NATHANIEL FORD')
    display(result)

C:\Users\USER\AppData\Local\Temp\ipykernel_10604\3280099336.py:3: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv('Total.csv')

     EmployeeName    BasePay  OvertimePay   OtherPay  Benefits   TotalPay
0  NATHANIEL FORD  167411.18          0.0  400184.25       0.0  567595.43

In [ ]:
import zipfile


def export_to_csv_and_zip():
    try:
        if dataframe.empty:
            raise ValueError("No data to export.")
        
        all_data = get_all_employee_salaries()
        
        zip_name = "Employee Profile.zip"
        csv_name = "employee_details.csv"
        
        with zipfile.ZipFile(zip_name, 'w', zipfile.ZIP_DEFLATED) as zipf:
            
            zipf.writestr(f"Employee Profile/{csv_name}", all_data.to_csv(index=False))
        print(f"Employee details exported and zipped to {zip_name} within 'Employee Profile'")
    except Exception as e:
        print(f"Error during export and zipping: {str(e)}")

export_to_csv_and_zip()

Employee details exported and zipped to Employee Profile.zip within 'Employee Profile'